<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<div class='container'>
  <div class='alert alert-info' role='alert'>
    Nouveau moteur de recherche: plus tolérant & plus rapide :)
  </div>

  <%= form_tag(articles_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], class: 'input-block-level') %>
    <%= submit_tag ('Search'), class: 'btn btn-outline-primary' %>
  <% end %>
  <%= pluralize(@count, 'result') %>
  <br>

  <% @articles.each do |article| %>
    <div class='card'>
      <div class='card-body'>
      <h5 class='card-title'><%= link_to(article.name, article.url) %></h5>
      <p class='card-text'><%= highlight(article.text, params[:search]) %></p>
      <%= link_to('Website', article.url, class: 'btn btn-outline-secondary', target: :_blank) %>
      </div>
    </div>
    <br>
  <% end %>

</div>

<br>

<%= link_to 'New Article', new_article_path %>
