<p id="notice"><%= notice %></p>

<h1>Pdfs</h1>


<div class='container'>
  <div class='alert alert-danger' role='alert'>
    Mauvaise nouvelle: pas d'upload de PDF tant que j'ai pas de CB... J'me sers de logiciels (Redis & Sidekiq), et Heroku - la plateforme qui heberge l'application - requière mes infos bancaires même pour les offres gratuites (salauds). La bonne nouvelle c'est qu'un ami à téléchargé l'archive, du coup dès que j'le vois y'aura plus besoin que tu upload les pdf 1 par 1 (mais si tu dois en ajouter au fil du temps, c'est pratique quand même)
  </div>

  <div class='alert alert-success' role='alert'>
    J'adore les alertes !!!
  </div>

  <div class='alert alert-warning' role='alert'>
    <strike> Une fois que le PDF est upload, ça extrait le texte en arrière plan. Vas y molo, upload pas trop de PDF d'un coup, ça risque de tout casser. Si tu vois que l'application répond plus, c'est que c'est cassé ¯\_(ツ)_/¯</strike>
  </div>

  <div class='row mt-2 mb-5'>
    <%= link_to 'Upload a new PDF', new_pdf_path, class: 'btn btn-outline-success btn-lg btn-block' %>
  </div>

  <div class='alert alert-danger my-2' role='alert'>
    <strike>
    Pour le moment: les caractères spéciaux (accents typiquement) sont pas reconnus (remplacés par des points d'intérogation). 
    Si tu fais une recherche trop large, ça va graaaaaaave mouliner ! 
    Aussi, j'arrive pas tout le temps à extraire un échantillon de texte, c'est le prochain chantier ! </strike></div>


  <div class='row mx-auto mt-2'>
    <%= form_tag(pdfs_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search], class: 'input-block-level') %>
      <%= submit_tag 'Search',class: 'btn btn-outline-primary' %>
    <% end %>
  </div>
  <div class='row ml-2'>
    <%= pluralize(@count, 'result') %>
  </div>

  <div class='container ml-2'>
  <% @results.each do |pdf, text_samples| %>
    <div class='card my-2'>
      <div class='card-body'>
        <h5 class='card-title'><%= link_to(pdf.title, pdf.file) %></h5>
        <% text_samples.each do |sample| %>
          <p class='card-text'><%= sample %></p>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>

