<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pdf.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @pdf.text %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to @pdf.file.filename, @pdf.file if @pdf.file.attached? %>
</p>

<%= link_to 'Edit', edit_pdf_path(@pdf) %> |
<%= link_to 'Back', pdfs_path %>
