<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Home', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Global', articles_path, class: "nav-item nav-link #{'active' if current_page?(articles_path)}" %>
      <%= link_to 'Articles', articles_path, class: "nav-item nav-link #{'active' if current_page?(articles_path)}" %>
      <%= link_to 'PDF', pdfs_path, class: "nav-item nav-link #{'active' if current_page?(articles_path)}" %>
    </div>
  </div>
</nav>
